node_modules
.DS_Store
.playwright-mcp/
logs/*
!logs/.gitkeep
tmp/*
!tmp/.gitkeep
logs/*
!logs/.gitkeep
.env
.env.yaml
env.yaml
.cache
.claude/settings.local.json
.prettierrc
vscode-profile-*
spec-*.jsonc
service-account.json
gcp-service-account-key.json